body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

.container {
    width: 1200px;
    margin: 40px auto;
    display: flex;
}

.project-img {
    width: 75%;
    height: auto;
    margin: 15px 0;
}

/* Coluna esquerda */
.sidebar {
    width: 25%;
    padding-right: 40px;
    text-align: center;
}

.name {
    margin-bottom: 15px;
}

.profile-img {
    width: 300px;
    border-radius: 50%;
    display:block;
    margin: 0 auto 15px auto;
}

.subtitle {
    color: #666;
    margin-bottom: 25px;
}

.info-block {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.6;
    text-align: left; /* Deixa textos informativos alinhados à esquerda */
}

.contact-link a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    text-decoration: underline;
    color: #0066cc;
    font-weight: 500;
}

.contact-link a:hover {
    opacity: 0.7;
}

.icon {
    width: 20px;
    height: 20px;
}

/* Coluna direita */
.content {
    width: 75%;
}

h1 {
    margin-bottom: 5px;
}

h2 {
    margin-top: 40px;
}

p {
    line-height: 1.6;
}
